:root {
  --primary-text-color: #ffffff;
  --secondary-text-color: #212121;
  --accent-color: rgb(236, 127, 0);
  --first-background-color: #07131d;
  --secondary-background-color: #F5F4FA;
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Russo One', sans-serif;
}

html {
  box-sizing: border-box;
}
  
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto";
  color: var(--primary-text-color);
  background-color: var(--first-background-color);
  letter-spacing: 0.03em;
}

h1,h2,h3,p{
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
  font-style: normal;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover,
a:focus {
  text-decoration:underline;
}

img {
  display: block;
  // max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
}
  
.container {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1600px) {
    max-width: 1200px;
  }
}

.title {
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;
  color: var(--accent-color);
  font-family: var(--secondary-font);
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 8px;
};

@mixin flex () {
  display: flex;
  justify-content: space-between;
  align-items: center;
};

//Header

header{
  text-align: center;
}

.nav-container{
  display: flex;
  height: 70px;
  align-items: center;

  font-family: var(--secondary-font);
  color: var(--accent-color);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav{
  display: flex;
  justify-content: space-between;
}

.nav li{
  margin-right: 25px;
  &:last-child{
    margin-right: 0px;
  }
}

.nav li a{
  color: var(--accent-color);
  font-size: 19px;
}

.contacts{
  display: flex;
  color: var(--accent-color);
}

.current{
  text-decoration: underline;
}

//Hero

.hero{
  height: 100vh;
  background-image: radial-gradient(circle, rgba(8, 17, 21, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url('./images/wall.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  // text-align: center;
  // vertical-align: middle;
}

.hero-title{
  font-family: var(--secondary-font);
  font-size: 45px;
  margin-top: 40vh;
}

//About us
.about-us-content{
  display: flex;
}

.about-us-img{
  width: 700px;
  height: auto;
  margin-right: 15px;
}

.accent{
  color: var(--accent-color);
  text-transform: uppercase;
  font-family: var(--secondary-font);
}

.about-us-list{
  padding-left: 20px;
  list-style-type: circle;
}

//Services

.services{
  padding-bottom: 70px;
}

.services-title{
  cursor: default;
  &:hover,
  &:focus{
    text-decoration: none;
  }
}

.services-list{
  display: flex;
}

.services-item{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 210px;
  height: 210px;
  margin-right: 30px;
  padding: 12px;
  background-color: inherit;
  border: 1px solid var(--accent-color);
  cursor: pointer;

  // -webkit-box-shadow: 5px 5px 15px 5px #000000; 
  // -webkit-box-shadow: 5px 5px 15px 5px #000000; 
  // box-shadow: 0px 0px 15px 0px #ffffff;
  

  &:last-child{
    margin-right: 0;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 0px 12px 1px #ffffff;
  }
}

.services-icon{
  width: 170px;
  height: 120px;
  // margin-right: 10px;
  fill: var(--accent-color);
}

//Achievements

.achievements{
  background-color: rgb(39, 60, 89);
  padding-bottom: 70px;
}

.achievements-list{
  display: flex;
  justify-content: space-around;
}

.achievements-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-right: 50px;
}

.achievements-item > span{
  font-size: 30px;
  letter-spacing: 3px;
}

//Objects

.filter {
  @include flex ();
  justify-content: center;
  padding-bottom: 40px;

  & li:last-child {
      margin-right: 0;
  }

  @media screen and (max-width: 767px) {
      flex-wrap: wrap;
      justify-content: flex-start;

      & :nth-child(n+4){
          margin-top: 15px;
      }
  }
}

.fil-item {
  margin-right: 8px;
}

.fil-button {
  padding: 6px 22px;
  border: 0;
  background-color: var(--secondary-background-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
      color: #ffffff;
      background-color: var(--accent-color);
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
      transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}


// .btnStart {
//   width: 90px;
//   height: 35px;
//   text-align: center;
//   margin-top: 10px;

//   background-color: rgb(254, 31, 32);
//   color: rgb(000, 000, 000);
//   border-top: 4px solid rgb(251, 53, 53);
//   border-left: 4px solid rgb(251, 53, 53);
//   border-right: 4px solid rgb(245, 4, 4);
//   border-bottom: 4px solid rgb(245, 4, 4);
//   box-shadow: 0 0 40px 40px rgb(254, 31, 32) inset;

//   transition: all 150ms ease-in-out;

//   animation: changeSize 3000ms infinite 1000ms;
// }

// .btnStart:hover,
// .btnStart:focus {
//   color: rgb(251, 53, 53);
//   background-color: transparent;
//   border: 1px solid black;
//   box-shadow: 0 0 20px 0 rgb(251, 53, 53) inset;

//   animation-play-state: paused;
// }

.objects-list {
  display: inline-block;
}

.objects-item {
  width: 354px;
  min-height: fit-content;
  float: left;
  background-color: var(--secondary-background-color);
  color: var(--secondary-text-color);


  @media screen and (min-width: 768px) {
      width: 354px;
      margin-right: 10px;
  }
  
  @media screen and (min-width: 1200px) {
      width: 370px;
      margin-right: 30px;
      margin-bottom: 30px;

      // &:nth-last-child(-n + 3) {
      //     margin-bottom: 0;
      // }
      &:nth-child(3n+0) {
        margin-right: 0;
    }
  }

  &:hover,
  &:focus {
    box-shadow: 0px 0px 15px 2px var(--accent-color);
    cursor: pointer;
  }
};

.objects-photo{
  width: 370px;
  height: 277px;
  object-fit: cover;
}

.card-content {
  height: 110px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 14px;
  padding-right: 14px;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;

  @media screen and (min-width: 768px) and (max-width: 1599px) {
      // width: 354px;
  }
}

.list-artical {
  margin-bottom: 7px;
  margin-top: 0;
  // font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);

  // overflow: hidden;
  // text-overflow: ellipsis;
  // white-space: pre;

  @media screen and (min-width: 768px) and (max-width: 1599px) {
      width: 300px;
  }
}

.description {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
  font-size: 15px;
  color: var(--secondary-text-color);
  line-height: 1.2;
}

//Footer

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 200px;
}

.footer-nav-item{
  color: var(--accent-color);
  text-transform: uppercase;
  font-family: var(--secondary-font);
  letter-spacing: 3px;
}

.footer-street{
  font-style: normal;
}

.footer-address-item{
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  // &:hover,
  // &:focus .footer-icon{
  //   fill: var(--accent-color);
  // }
}

.footer-icon{
  width: 20px;
  height: 20px;
  margin-right: 5px;
  fill: var(--primary-text-color);
}

.footer-contacts{
  &:hover,
  &:focus{
    text-decoration: none;
    cursor: default;
  }
}



//Укриття

.object-title{
  color: #ffffff;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

.image-slider_image{
  display: flex;
  justify-content: center;
}

.slider-img{
  width: 700px;
  max-width: 100%;
  height: auto;
}

.swiper .swiper-button-prev::after,
.swiper .swiper-button-next::after{
  color: #ffffff;
}


.object-description{
  margin-top: 30px;
  color: var(--primary-text-color);
  font-size: 18px;
}